* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #af88ef;
  border-radius: 5px;
  border: 2px solid #1f1b34;
}
body:hover::-webkit-scrollbar {
  display: block;
  width: 12px;
}

html, body {
  font-family: georgia, sans-serif;
  color: #FFF;
  background: #1f1b34;
  margin: 0px;
  height: 100%;
}

.main {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.experience #label {
  color: #af88ef;
  font-family: georgia, sans-serif;
  font-size: 50px;
}

.education {
  background: #2f294f;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.education #label {
  color: #af88ef;
  font-family: georgia, sans-serif;
  font-size: 50px;
}
.box-container {
    width: 80vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box-container .category {
  color: #af88ef;
  font-family: georgia, sans-serif;
  font-size: 30px;
  padding-right: 100px;
}
.box-container .box {
    background: #00000079;
    padding-right: 20px;
    max-width: 25vw;
    border-radius: 10px;
    line-height: 1.4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.box-container .box .title {
    line-height: 1;
    font-size: 30px;
    padding-left: 20px;
}
.box-container .box .major {
    line-height: 1;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.box-container .box .date {
    line-height: 1;
    padding-left: 20px;
}
.box-container .box .description {
    line-height: 1;
    padding-left: 20px;
    padding-right: 10px;
}
.box-container .box .gpa {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box-container .box:hover {
  box-shadow: 4px 4px 10px #af88ef;
}

.box-skill-container {
    width: 80vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box-row {

}

.bio {
  height: 100%;
  width: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.bio p {
  margin: 0;
  padding: 5px;
  width: 45%;
}
.bio .intro{
  color: #af88ef;
  font-size: 20px;
}
.bio .name {
  opacity: .85;
  font-size: 100px;
}
.bio .dynamic-bio {
  opacity: .5;
  font-size: 3vw;
}
.bio .description {
  text-align: center;
  opacity: .5;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
}
.button-link-2 {
  font-size: 20px;
  padding: 15px;
  border: 5px solid #50055c;
  color: #fff;
  width: 200px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-link-2:hover {
  background: #af88ef;
  border: 5px solid #af88ef;
}
.bio .links-container {
    padding: 40px;
    display: flex;
    gap: 20px;
}
.bio img:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(200deg) saturate(500%) brightness(90%);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  z-index: 9999;
  background: #1f1b34;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.navbar .full-name {
  color: #af88ef;
  font-family: georgia, sans-serif;
  margin-right: auto;
  padding-left: 40px;
  font-size: 30px;
}
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  padding-right: 150px;
}
.navlinks a {
  cursor: pointer;
  font-size: 20px;
}
.navlinks .button:hover {
    color: #af88ef;
}
.button-link {
  padding: 5px 10px;
  border: 5px solid #50055c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-link:hover {
  background: #af88ef;
  border: 5px solid #af88ef;
}


@media (max-width: 1100px) {
  .navlinks {
    padding-right: 50px;
    gap: 20px;
  }
  .navlinks a {
    font-size: 10px;
  }
  .navbar .full-name {
    font-size: 20px;
    white-space: nowrap;
    padding-left: 20px;
  }

  .bio p {
    width: 75%;
  }
  .bio .name {
    font-size: 80px;
  }
  .bio .dynamic-bio {
    opacity: .5;
    font-size: 5svw;
  }

  .button-link {
    border: 2px solid #50055c;
  }
  .button-link:hover {
    background: #af88ef;
    border: 2px solid #af88ef;
  }

  .box-container .box {
      background: #00000079;
      max-width: 35vw;
  }
}

@media (max-width: 600px) {
  .navlinks {
    padding-right: 25px;
    gap: 10px;
  }
  .navlinks a {
    font-size: 10px;
  }
  .navbar .full-name {
    font-size: 14px;
    white-space: nowrap;
  }

  .bio p {
    width: 100%;
  }
  .bio .name {
    font-size: 40px;
  }
  .bio .dynamic-bio {
    opacity: .5;
    font-size: 6vw;
  }

  .button-link {
    border: 1px solid #50055c;
  }
  .button-link:hover {
    background: #af88ef;
    border: 1px solid #af88ef;
  }

  .box-container .box {
    max-width: 42vw;
  }
  .box-container .box {
      background: #00000079;
      max-width: 75vw;
  }
}

@media (max-width: 500px) {
  .navlinks {
    padding-right: 25px;
    gap: 10px;
  }
  .navlinks a {
    font-size: 5px;
  }
  .navbar .full-name {
    font-size: 11px;
    white-space: nowrap;
  }

  .bio p {
    width: 100%;
  }
  .bio .name {
    font-size: 40px;
  }
  .bio .dynamic-bio {
    opacity: .5;
    font-size: 6vw;
  }

  .button-link {
    border: 1px solid #50055c;
  }
  .button-link:hover {
    background: #af88ef;
    border: 1px solid #af88ef;
  }

  .box-container .box {
    max-width: 42vw;
  }
  .box-container .box {
      background: #00000079;
      max-width: 75vw;
  }
}

.vue-typer .typed {
  color: #fff !important;
  opacity: .5 !important;
}

.vue-typer .cursor,
.vue-typer .caret {
  border-right: 8px solid #af88ef !important;
}